body {
    padding-bottom: 65px;
}
div.full {
    background-size:cover;
}


.start-div {
    position: relative;
    top: -22px; 
    height:101vh;
    background-size:cover;
    background-position: center center;
    
}
.start-div > img {
    display:block;
    max-width: 100%;
    height: auto;
}

div.mid-mid {
    position: relative;
    left: 50%;
    top: 75%;
    transform: translate(-50%, -50%);
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}

div.mid-mid h1 {
    margin-top: 0; 
    margin-bottom:30px;
    padding-bottom: 0;
    line-height: 80%;
    font-size: 120px; 
    color:seashell;
}

.centered-text-div {
    text-align: center;
    margin: 30px;
}

.light-text {
    color: seashell;
}

.darken {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
    url('images/header.jpg');
}

.darken-text-div {
    background-image: linear-gradient(
        rgba(25, 36, 49, 0.5),
        rgba(25, 36, 49, 0.5)
    );
}
div > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

p.left-border {
    border-left: 1px solid black;
    padding: 10px;
}

.bg-cover {
    background-size: cover;
}


    @media only screen and (min-width: 768px) {
        
        .row {
            margin-bottom: 80px;
        }

        .start-div {
            margin-bottom: 50px;
        }

        div.full{
            height: 101vh !important;
        }

        div.text-div {
            margin-left: 60 px !important;
        }

        #about {
            color: whitesmoke;
        }
    }

    @media only screen and (max-width:576px) {
        
        .row {
            margin-bottom: 20px;
        }
        
        div.headline-div {
            background-image: none !important;
            
        }

        div.mid-mid > h1 {
            margin-top: 0; 
            margin-bottom:30px;
            font-size: 100px; 
            color:seashell;
        }
        #about {
            color: Black;
        }
