@font-face {
    font-family: bebas-neue;
    src: url(fonts/Bebas_Neue/BebasNeue-Regular.tff)
}

@font-face {
    font-family: roboto;
    src: url(fonts/Roboto/Roboto-Light.ttf);
}

body {
    padding-bottom: 65px;
    background-color: whitesmoke;

}

body h2 {
    font-family: bebas-neue;
}

body p {
    font-family: roboto;
}
div.full {
    background-size:cover;
}

#body-wrapper {
    max-width: 1400px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    padding-top: 40px;
}
div.contain {
    background-size: 400px ;
    background-repeat: no-repeat;
}


.start-div {
    position: relative;
    top: -22px; 
    height:101vh;
    background-size:cover;
    background-position: center center;
    margin-bottom: 0!important;
    
}

}
.start-div > img {
    display:block;
    max-width: 100%;
    height: auto;
}

.headline-div {
    background-position: center;
}

div.mid-mid {
    position: relative;
    left: 50%;
    top: 75%;
    transform: translate(-50%, -50%);
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}

div.mid-mid h1 {
    margin-top: 0; 
    margin-bottom:30px;
    padding-bottom: 0;
    line-height: 80%;
    font-size: 100px; 
    color:seashell;
    font-family: bebas-neue;
    max-width: 95vw;
}

.centered-text-div {
    text-align: center;
    margin: 30px;
    margin-bottom: 0px;
}

.light-text {
    color: seashell;
}

.darken {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
    url('images/header.jpg');
    background-position: center;
    margin-bottom: 0;
}

.darken-text-div {
    background-image: linear-gradient(
        rgba(25, 36, 49, 0.5),
        rgba(25, 36, 49, 0.5)
    );
}


div {
    overflow:auto;
}

p.left-border {
    border-left: 1px solid black;
    padding: 10px;
}

.bg-cover {
    background-size: cover;
}

#cv h1 {
    font-family: bebas-neue;
}

.card {
    margin: 10 auto;
    float: none;
    margin-bottom: 20px;
    height: 190px;
}


.logos {
    display:inline;
    overflow: auto;
    height: 60px;
}

.logotype-div {

    margin-bottom: 30px;
    text-align: center;
    max-width: 95vw;
}

#contact-form {
    max-width: 95vw;
}

    @media only screen and (min-width: 768px) {

        img#profile {
            display: none;
        }

        
        .row {
            margin-bottom: 80px;
        }

        .start-div {
            margin-bottom: 50px;
        }

        div.full{
            height: 101vh !important;
        }

        div.text-div {
            margin-left: 60 px !important;
        }

        #about {
            color: whitesmoke;
        }

        .bg-cover {
            background-position-y: 70% ;
        }
    }


    @media only screen and (max-width: 767px) {
        img#profile {
            display: inline-block;
            height: 250;

        }

        .floated-image {
            float: left;
            margin-left:0px;
            margin-right: 20px;
            padding: 0;

        }

        .left {
            float: left;
        }
        .row {
            margin-bottom: 20px;
        }
        
        div.headline-div {
            background-image: none !important;
            
        }

        div.text-div {
            margin-left: 0px !important;
        }


        .ml-5 {
            margin-left: 10px !important;
        }

        div.mid-mid h1 {
            margin-top: 0; 
            margin-bottom:30px;
            font-size: 100px; 
            color:seashell;
        }
        #about {
            color: Black;
        }

        #contact > h2 {
        text-align: left !important;
    }

    @media only screen and (max-width:360px) {
        div.mid-mid  h1 {
            font-size: 85px;
        }
    }

    @media only screen and (max-width: 320px) {
        .logos {

            height: 50px;
}
    }


